<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class="container">

            <div class="header">
                <h2 class="headerTitle">Card Registration</h2>
                <p class="headerSubtitle">Assign a card to a player.</p>
            </div>

            <div class="form">

                <form action="#" th:action="@{/event/register/goal}" th:object="${GoalForm}" method="post">

                    <div class="row">
                        <div class="col-25">
                            <label for="playerName">Player:</label>
                            <input type="hidden" id="gameIdString" name="gameIdString" th:value="${GoalForm.gameIdString}">
                        </div>
                        <div class="col-75">
                            <select name="playerName" id="playerName">
                                <optgroup th:label="${GoalForm.getGame().getHomeTeam().getName()}">
                                    <tr th:each="s : ${GoalForm.getGame().getHomeTeam().getPlayers()}">
                                        <option th:text="${s.name}"> name </option>
                                    </tr>
                                </optgroup>
                                <optgroup th:label="${GoalForm.getGame().getVisitorTeam().getName()}">
                                    <tr th:each="s : ${GoalForm.getGame().getVisitorTeam().getPlayers()}">
                                        <option th:text="${s.name}"> name </option>
                                    </tr>
                                </optgroup>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="beginDate">Time of Event:</label>
                        </div>
                        <div class="col-75">
                            <input type="time" id="beginDate" name="beginDate" step = "1" th:min="${minHour}" th:max="${maxHour}" required>
                        </div>
                    </div>

                    <div class="row">
                        <input style={padding-top:250px} type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>