<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="João Artur & Rui Marques">
        <title>scoreDEI</title>
        <link th:href="@{/css/base.css}" rel="stylesheet"/>
        <link th:href="@{/css/table.css}" rel="stylesheet"/>
        <link th:href="@{/css/register.css}" rel="stylesheet"/>
    </head>

    <body>
        <div class="main">
            <div th:replace="navbar.html"></div>
            <div class="body">
                <div class="container">

                    <div class="header">
                        <h1>Goal appointment</h1>
                    </div>

                    <div class="content">
                        <form action="#" th:action="@{/event/register/goal}" th:object="${GoalForm}" method="post">

                            <div class="dataField">
                                <label for="playerName">Player:</label>
                                <input type="hidden" id="gameIdString" name="gameIdString" th:value="${GoalForm.gameIdString}">
                                <select name="playerName" id="playerName">
                                    <optgroup th:label="${GoalForm.getGame().getHomeTeam().getName()}">
                                        <tr th:each="s : ${GoalForm.getGame().getHomeTeam().getPlayers()}">
                                            <option th:text="${s.name}"> name </option>
                                        </tr>
                                    </optgroup>
                                    <optgroup th:label="${GoalForm.getGame().getVisitorTeam().getName()}">
                                        <tr th:each="s : ${GoalForm.getGame().getVisitorTeam().getPlayers()}">
                                            <option th:text="${s.name}"> name </option>
                                        </tr>
                                    </optgroup>
                                </select>
                            </div>

                            <div class="dataField">
                                    <label for="beginDate">Time of Event:</label>
                                    <input type="time" id="beginDate" name="beginDate" step = "1" th:min="${minHour}" th:max="${maxHour}" required>
                            </div>

                            <div class="formCommands">
                                <input type="submit" value="Register">
                            </div>

                        </form>

                    </div>

                </div>
            </div>
        </div>
    </body>
</html>