<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>scoreDEi</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class="container">

            <div class="header">
                <h2 class="headerTitle">Update username</h2>
            </div>

            <div class="form">

                <form action="#" th:action="@{/player/delete(id=${id})}" method="post">

                    <div class="row">
                        <div class="col-25">
                            <label style="{font-weight: bold; font-size: 18px}">Are you sure you want to delete this player (and all its events)?</label>
                        </div>
                        <div class="col-75">
                            <input style={padding-top:250px} type="submit" value="Confirm">
                            <a class="cancel" href="/player/list"> Cancel </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>