<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="João Artur & Rui Marques">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class = "container">

            <div class="header">
                <h1 class="headerTitle" th:text="${player.getName()}"></h1>
                <div th:if="${session.user?.getType()==1}" class="userOptions">
                    <a th:href="@{edit/name(id=${player.getPlayerId()})}">Change name.</a>
                    <a th:href="@{edit/position(id=${player.getPlayerId()})}">Change position.</a>
                    <a th:href="@{edit/birthday(id=${player.getPlayerId()})}">Change birthday.</a>
                    <a th:href="@{edit/team(id=${player.getPlayerId()})}">Change team.</a>
                    <a th:href="@{delete(id=${player.getPlayerId()})}">Delete player.</a>
                </div>
            </div>

            <div class="content">
                <div class="contentElement" th:if="${player.urlPhoto != null}">
                    <img th:src="${player.urlPhoto}" th:alt="${player.name + '´s photo'}">
                </div>

                <div class="contentElement">

                    <div class="successAlert" role="alert" th:text="${success}" th:if="${success}"></div>
                    <div class="errorAlert" role="alert" th:text="${error}" th:if="${error}"></div>

                    <table class="default_table">
                        <caption>Player info</caption>
                        <tr>
                            <th>Position</th>
                            <th>Birthday</th>
                            <th>Team</th>
                        </tr>
                        <tr>
                            <td th:text="${player.getPosition()}">Position</td>
                            <td th:text="${player.getBirthday()}">Birthday</td>
                            <td><a style="{color:black}" th:text="${teamName}" th:href="@{/team/profile(id=${player.getTeam().getTeamId()})}">Team</a></td>
                        </tr>
                    </table>
                </div>

                <div class="contentElement">
                    <table class="default_table">
                        <caption>Player's statistics</caption>
                        <tr>
                            <th>Goals</th>
                            <th>Yellow cards</th>
                            <th>Red Cards</th>
                        </tr>
                        <tr>
                            <td th:text="${statistic[0]}">Goals</td>
                            <td th:text="${statistic[1]}">Yellow cards</td>
                            <td th:text="${statistic[2]}">Red Cards</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>