<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreDEi</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class="container">

            <div class="header">
                <h2 class="headerTitle">Update player's position</h2>
            </div>

            <div class="form">

                <form action="#" th:action="@{/player/edit/position(id=${player.getPlayerId()})}" th:object="${playerForm}" method="post">

                    <div class="row">
                        <fieldset>
                            <div class="col-25">
                                <input type="hidden" id="name" name="name" value="">
                                <label for="name">Position:</label>
                            </div>

                            <div class="col-75">
                                <input type="radio" id="goalkeeper" name="position" value="Goalkeeper">
                                <label for="goalkeeper">Goalkeeper</label><br>

                                <input type="radio" id="defender" name="position" value="Defender">
                                <label for="defender">Defender</label><br>

                                <input type="radio" id="midfielder" name="position" value="Midfielder">
                                <label for="midfielder">Midfielder</label>

                                <input type="radio" id="forward" name="position" value="Forward">
                                <label for="forward">Forward</label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="row">
                        <input style={padding-top:250px} type="submit" value="Save">
                        <a class="cancel" href="/player/list"> Cancel </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>