<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>scoreDEI</title>
  <link th:href="@{/css/base.css}" rel="stylesheet"/>
  <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class="container">

      <div class="header">
        <h2 class="headerTitle">Forbidden</h2>
        <p class="headerSubtitle">You tried to access a page without permission!</p>
      </div>

      </div>
    </div>
  </div>
</div>
</body>
</html>