<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>scoreDEi</title>
  <link th:href="@{/css/base.css}" rel="stylesheet" />
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class = "container">

      <div class="header">
        <h1 class="headerTitle">List of users</h1>
      </div>

      <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr th:each="s : ${users}">
          <td th:text="${s.name}">id</td>
          <td th:text="${s.email}">name</td>
        </tr>
      </table>

      <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr th:each="s : ${admins}">
          <td th:text="${s.name}">id</td>
          <td th:text="${s.email}">name</td>
        </tr>
      </table>

      <table border="1">
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
        <tr th:each="s : ${regular_users}">
          <td th:text="${s.name}">id</td>
          <td th:text="${s.email}">name</td>
        </tr>
      </table>

    </div>

  </div>

</div>
</body>
</html>