<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="João Artur & Rui Marques">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
  </head>

  <body>
    <div class="main">
      <div th:replace="navbar.html"></div>
      <div class="body">
        <div class="container">

          <div class="header">
            <h1>Login</h1>
          </div>

          <div class="content">
            <form action="#" th:action="@{/login}" th:object="${userForm}" method="post">

              <div class="dataField">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" placeholder="Enter the email..." required>
              </div>

              <div class="dataField">
                  <label for="password">Password:</label>
                  <input type="password" id="password" name="password" placeholder="Enter the password..." value="" required>
              </div>

              <div class="formCommands">
                <input type="submit" value="Register">
              </div>

            </form>

          </div>

        </div>
      </div>
    </div>
  </body>
</html>