<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>scoreDEi</title>
        <link th:href="@{/css/base.css}" rel="stylesheet" />
    </head>
    <body>
        <div th:if="${session.user?.getType()==1}" class="menu">
            <h2 id="logo">scoreDEI</h2>
            <a href="/game/list">Games</a>
            <a href="/team/list">Teams</a>
            <a href="/player/list">Players</a>
            <a href="/user/list">Users</a>
            <a th:if="${session.login}" href="/logout">Logout</a>
            <a th:if="${session.logout}" href="/login">Login</a>
        </div>
        <div th:if="${session.user?.getType()!=1}" class="menu">
            <h2 id="logo">scoreDEI</h2>
            <a href="/game/list">Games</a>
            <a href="/team/list">Teams</a>
            <a href="/player/list">Players</a>
            <a th:if="${session.logout}" href="/logout">Logout</a>
            <a th:if="${session.login}" href="/login">Login</a>
        </div>
    </body>
</html>