<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>scoreDEi</title>
  <link th:href="@{/css/base.css}" rel="stylesheet"/>
  <link th:href="@{/css/team.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class = "container">

      <div class="header">
        <h1 class="headerTitle">Teams</h1>
        <a th:if="${session.user?.getType()==1}" href="/team/register">Register team</a>
      </div>

      <div class="teams">
        <h2>Teams</h2>

        <div th:if="${teams.isEmpty()}">
          <h4>There isn't any team.</h4>
        </div>

        <div th:if="${!teams.isEmpty()}">
          <table border="1">
            <tr>
              <th>Logo</th>
              <th>Name</th>
            </tr>
            <tr th:each="team : ${teams}">
              <td><img th:src="@{logo(id=${team.getTeamId()})}" alt="This team has no logo."></td>
              <td><a style="{color:black; font-size: 18px}" th:text="${team.getName()}" th:href="@{profile(id=${team.getTeamId()})}">Name</a></td>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </div>

</div>
</body>
</html>