<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="João Artur & Rui Marques">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
  </head>

  <body>
    <div class="main">
      <div th:replace="navbar.html"></div>
      <div class="body">
        <div class = "container">

          <div class="header">
            <h1>Teams</h1>
            <div class="userOptions">
              <a th:if="${session.user?.getType()==1}" href="/team/register">Register team</a>
            </div>
          </div>

          <div class="content">

            <div class="sucessAlert" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="errorAlert" role="alert" th:text="${error}" th:if="${error}"></div>

            <div class="contentElement" th:if="${Eusebio != null}">
              <table class="default_table">
                <caption>Best scorer</caption>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Birthday</th>
                  <th>Goals</th>
                  <th>Team</th>
                </tr>
                <tr>
                  <td><a th:href="@{/player/profile(id=${Eusebio.getPlayerId()})}" th:text="${Eusebio.name}">name</a></td>
                  <td><a th:text="${Eusebio.getPosition()}">position</a></td>
                  <td><a th:text="${Eusebio.getBirthday()}">birthday</a></td>
                  <td><a th:text="${Eusebio.getNumberGoals()}">goals</a></td>
                  <td><a th:href="@{profile(id=${Eusebio.getTeam().getTeamId()})}" th:text="${Eusebio.getTeam().getName()}">goals</a></td>
                </tr>
              </table>
            </div>

            <div class="contentElement" th:if="${teams.isEmpty()}">
              <table class="default_table">
                <caption>Teams</caption>
                <tr>
                  <td>No registered teams.</td>
                </tr>
              </table>
            </div>

            <div class="contentElement" th:if="${!teams.isEmpty()}">
              <table class="default_table">
                <caption>Teams</caption>
                <tr>
                  <th>Logo</th>
                  <th>Name</th>
                  <th>Games</th>
                  <th>Wins</th>
                  <th>Draws</th>
                  <th>Losses</th>
                </tr>
                <tr th:each="team : ${teams}">
                  <td><img th:src="@{logo(id=${team.getTeamId()})}" alt="No logo."></td>
                  <td><a th:text="${team.getName()}" th:href="@{profile(id=${team.getTeamId()})}">Name</a></td>
                  <td><a th:text="${team.numberGames}">Games</a></td>
                  <td><a th:text="${team.numberWins}">Wins</a></td>
                  <td><a th:text="${team.numberDraws}">Draws</a></td>
                  <td><a th:text="${team.numberLosses}">Losses</a></td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>