<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>

    <div class="body">

        <div class="container">

            <div class="header">
                <h2 class="headerTitle">Team registration</h2>
            </div>

            <div class="form">

                <form action="#" th:action="@{/team/register}" th:object="${TeamForm}" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-25">
                            <label for="name">Team name:</label>
                        </div>
                        <div class="col-75">
                            <input type="text" id="name" name="name" placeholder="Enter the team name..." value="" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="multipartFile">Select a file:</label>
                        </div>
                        <div class="col-75">
                            <input type="file" id="multipartFile" name="multipartFile" accept="image/*" required>
                        </div>
                    </div>
                    <div class="row">
                        <input style={padding-top:250px} type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>