<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="João Artur & Rui Marques">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>

    <div class="body">

        <div class="container">

            <div class="header">
                <h1 class="headerTitle">Team registration</h1>
            </div>

            <div class="content">

                <form action="#" th:action="@{/team/register}" th:object="${TeamForm}" method="post" enctype="multipart/form-data">

                    <div class="dataField">
                        <label for="name">Team name:</label>
                        <input type="text" id="name" name="name" placeholder="Enter the team name..." value="" required>
                    </div>

                    <div class="dataField">
                        <label for="multipartFile">Select a file:</label>
                        <input type="file" id="multipartFile" name="multipartFile" accept="image/*" required>
                    </div>

                    <div class="formCommands">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
</body>
</html>