<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="João Artur & Rui Marques">
  <title>scoreDEI</title>
  <link th:href="@{/css/base.css}" rel="stylesheet"/>
  <link th:href="@{/css/table.css}" rel="stylesheet"/>
  <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class="container">

      <div class="header">
        <h1 th:text="${team.getName()}" class="headerTitle"></h1>
      </div>

      <div class="content">

        <form action="#" th:action="@{/team/edit/logo(id=${team.teamId})}" th:object="${teamForm}" method="post" enctype="multipart/form-data">

          <div class="dataField">
              <label for="multipartFile">Select a file:</label>
              <input type="file" id="multipartFile" name="multipartFile" accept="image/*" required>
          </div>

          <div class="formCommands">
            <input type="submit" value="Save">
            <a class="cancel" th:href="@{/team/profile(id=${team.getTeamId()})}"> Cancel </a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>