<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>scoreDEi</title>
  <link th:href="@{/css/base.css}" rel="stylesheet" />
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class = "container">

      <div class="header">
        <h1 class="headerTitle">Users</h1>
        <a th:if="${session.user?.getType()==1}" href="/user/register"> Register new user. </a>
      </div>

      <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
      <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

      <div class="users_info">
        <h2>Admins</h2>

        <div th:if="${admins.isEmpty()}">
          <h4>There isn't any admin user.</h4>
        </div>

        <div th:if="${!admins.isEmpty()}">
          <table border="1">
            <tr>
              <th>Username</th>
            </tr>
            <tr th:each="user : ${admins}">
              <td><a style="{color:black; font-size: 18px}" th:text="${user.getName()}" th:href="@{profile(id=${user.getUserId()})}">name</a></td>
            </tr>
          </table>
        </div>

      </div>

      <div class="users_info">
        <h2>Users</h2>

        <div th:if="${regular_users.isEmpty()}">
          <h4>There isn't any user.</h4>
        </div>

        <div th:if="${!regular_users.isEmpty()}">
          <table border="1">
            <tr>
              <th>Username</th>
            </tr>
            <tr th:each="user : ${regular_users}">
              <td><a style="{color:black; font-size: 18px}" th:text="${user.getName()}" th:href="@{profile(id=${user.getUserId()})}">name</a></td>
            </tr>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>
</body>
</html>