<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>scoreDEi</title>
  <link th:href="@{/css/base.css}" rel="stylesheet" />
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">

    <div class = "container">

      <div class="header">
        <h1 class="headerTitle">List of users</h1>
        <a href="/user/register"> Register new user. </a>
      </div>

      <div class="users_info">
        <h2>Admins</h2>
        <table border="1">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
          <tr th:each="s : ${admins}">
            <td><a style="{color:black; font-size: 18px}" th:text="${s.name}" th:href="@{edit/name(id=${s.userId})}">name</a></td>
            <td><a style="{color:black; font-size: 18px}" th:text="${s.email}" th:href="@{edit/email(id=${s.userId})}">email</a></td>
            <td><a style="{color:black; font-size: 18px}" th:text="${s.phone}" th:href="@{edit/phone(id=${s.userId})}">phone</a></td>
            <td><a style="{color:black; font-size: 18px}" th:href="@{edit/password(id=${s.userId})}">Edit password</a></td>
            <td><a th:href="@{delete(id=${s.userId})}">Delete</a></td>
          </tr>
        </table>
      </div>

      <div class="users_info">
        <h2>Users</h2>
        <table border="1">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
          <tr th:each="s : ${regular_users}">
            <td><a style="{color:black; font-size: 18px}" th:text="${s.name}" th:href="@{name(id=${s.userId})}">name</a></td>
            <td><a style="{color:black; font-size: 18px}" th:text="${s.email}" th:href="@{email(id=${s.userId})}">email</a></td>
            <td><a style="{color:black; font-size: 18px}" th:text="${s.phone}" th:href="@{edit/phone(id=${s.userId})}">phone</a></td>
            <td><a style="{color:black; font-size: 18px}" th:href="@{edit/password(id=${s.userId})}">Edit password</a></td>
            <td><a th:href="@{delete(id=${s.userId})}">Delete</a></td>
          </tr>
        </table>
      </div>

    </div>

  </div>

</div>
</body>
</html>