<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>scoreDEi</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/registerUser.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class="container">

            <div class="header">
                <h2 class="headerTitle">Update phone number</h2>
            </div>

            <div class="form">

                <form action="#" th:action="@{user/edit/phone(id=${user.userId})}" th:object="${editForm}" method="post">

                    <div class="row">
                        <div class="col-25">
                            <label style="{font-weight: bold; font-size: 18px}" for="phone">Phone number:</label>
                        </div>
                        <div class="col-75">
                            <input type="tel" id="phone" name="phone" placeholder="Enter the new phone number..." pattern="[0-9]{9+}" required>
                        </div>
                    </div>

                    <div class="row">
                        <input style={padding-top:250px} type="submit" value="Save">
                        <a class="cancel" href="/listUsers"> Cancel </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>