<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>scoreDEi</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/team.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class = "container">

            <div th:if="${session.user?.getType()==1}" class="header">
                <a style="{color:black; font-size: 18px}" th:href="@{edit/homeTeam(id=${game.getGameId()})}">Change home team.</a>
                <a style="{color:black; font-size: 18px}" th:href="@{edit/visitorTeam(id=${game.getGameId()})}">Change visitor team.</a>
                <a style="{color:black; font-size: 18px}" th:href="@{edit/location(id=${game.getGameId()})}">Change location.</a>
                <a style="{color:black; font-size: 18px}" th:href="@{edit/date(id=${game.getGameId()})}">Change date.</a>
                <a style="{color:black; font-size: 18px}" th:href="@{delete(id=${game.getGameId()})}">Delete game.</a>
            </div>

            <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

            <div>
                <h1 class="headerTitle" th:text="${game.getHomeTeam().getName() + ' - ' + game.getVisitorTeam().getName()}"></h1>
            </div>

            <div class="location">
                <h3>Location:</h3>
                <p th:text="${game.getLocation()}"></p>
            </div>

            <div class="date">
                <h3>Date:</h3>
                <p th:text="${game.getBeginDate()}"></p>
            </div>

            <div class="events">
                <div th:if="${events.isEmpty()}">
                    <h4>The game hasn't started.</h4>
                </div>

                <div th:if="${!events.isEmpty()}">
                    <h3>Score:</h3>
                    <p th:text="${score[0] + ' - ' + score[1]}"></p>
                    <h3>Events:</h3>
                    <table border="1">
                        <tr>
                            <th>Time</th>
                            <th>Type</th>
                        </tr>
                        <tr th:each="event : ${events}">
                            <td><a style="{color:black; font-size: 18px}" th:text="${event.eventDate.toString()}">Time</a></td>
                            <td>
                                <div th:if="${event?.getTypeEvent()==0}">
                                    <a style="{color:black; font-size: 18px}" text="Default message">Default. </a>
                                </div>
                                <div th:if="${event?.getTypeEvent()==1}">
                                    <a style="{color:black; font-size: 18px}" th:if="${event.isYellow()}">Yellow Card </a>
                                    <a style="{color:black; font-size: 18px}" th:if="${!event.isYellow()}">Red Card </a>
                                </div>
                                <div th:if="${event?.getTypeEvent()==2}">
                                    <a style="{color:black; font-size: 18px}" th:if="${event.getType()==0}">Game Started </a>
                                    <a style="{color:black; font-size: 18px}" th:if="${event.getType()==1}">Game Ended </a>
                                    <a style="{color:black; font-size: 18px}" th:if="${event.getType()==2}">Game Interrupted </a>
                                    <a style="{color:black; font-size: 18px}" th:if="${event.getType()==3}">Game Resumed </a>
                                </div>
                                <div th:if="${event?.getTypeEvent()==3}">
                                    <a style="{color:black; font-size: 18px}" th:if="${event?.getTypeEvent()==3}" text="Goal Event">Goal Event </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>