<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="João Artur & Rui Marques">
  <title>scoreDEI</title>
  <link th:href="@{/css/base.css}" rel="stylesheet"/>
  <link th:href="@{/css/table.css}" rel="stylesheet"/>
  <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
  <div th:replace="navbar.html"></div>
  <div class="body">
    <div class="container">

      <div class="header">
        <h1>Game registration</h1>
      </div>

      <div class="content">
        <form action="#" th:action="@{/game/register}" th:object="${GameForm}" method="post">

          <div class="dataField">
            <label for="homeTeam">Home Team:</label>
            <select name="homeTeam" id="homeTeam">
              <tr th:each="s : ${teams}">
                <option th:text="${s.name}"> name </option>
              </tr>
            </select>
          </div>

          <div class="dataField">
            <label for="visitorTeam">Visitor Team:</label>
            <select name="visitorTeam" id="visitorTeam">
              <tr th:each="s : ${teams}">
                <option th:text="${s.name}"> name </option>
              </tr>
            </select>
          </div>

          <div class="dataField">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location">
          </div>

          <div class="dataField">
            <label for="dateTime">Date and time of the game::</label>
            <input type="datetime-local" id="dateTime" name="dateTime">
          </div>

          <div class="formCommands">
            <input type="submit" value="Register">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>