<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="João Artur & Rui Marques">
    <title>scoreDEI</title>
    <link th:href="@{/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
    <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>

<body>

<div class="main">
    <div th:replace="navbar.html"></div>
    <div class="body">

        <div class="container">

            <div class="header">
                <h1 th:text="${game.getHomeTeam().getName() + '-' + game.getVisitorTeam().getName()}" class="headerTitle"></h1>
            </div>

            <div class="content">
                <form action="#" th:action="@{/game/edit/location(id=${game.getGameId()})}" th:object="${gameForm}" method="post">

                    <div class="dataField">
                        <label for="location">Location:</label>
                        <input type="text" id="location" name="location">
                    </div>

                    <div class="formCommands">
                        <input type="submit" value="Save">
                        <a class="cancel" th:href="@{game/profile(id=${game.getGameId()})}"> Cancel </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>